.version.experts /* version checker */
{
	color: #00001D;
	background-color: #CFE252;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 306px;
	min-height: 492px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 30px 63px 43px 11px;
}

#pu450
{
	width: 0.01px;
}

#u450
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
}

#u452-4
{
	z-index: 3;
	width: 225px;
	min-height: 24px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 81px;
}

#u453
{
	z-index: 7;
	width: 226px;
	border-width: 3px;
	border-style: solid;
	border-color: #AAACAD;
	background-color: transparent;
	padding-bottom: 28px;
	margin-left: 51px;
	margin-top: 37px;
	position: relative;
}

#u495
{
	z-index: 34;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 22px;
}

#u454-4
{
	z-index: 8;
	width: 120px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 79px;
}

#pu460
{
	width: 0.01px;
	margin-left: 52px;
	margin-top: 20px;
}

#u460
{
	z-index: 16;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u500
{
	z-index: 35;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u458
{
	z-index: 15;
	position: relative;
	margin-right: -10000px;
}

#u474-4
{
	z-index: 30;
	width: 37px;
	min-height: 11px;
	background-color: transparent;
	line-height: 8px;
	font-size: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 1px;
}

#pu464
{
	width: 0.01px;
	margin-left: 52px;
	margin-top: 25px;
}

#u464
{
	z-index: 18;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u505
{
	z-index: 36;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u462
{
	z-index: 17;
	position: relative;
	margin-right: -10000px;
}

#u473-4
{
	z-index: 26;
	width: 37px;
	min-height: 11px;
	background-color: transparent;
	line-height: 8px;
	font-size: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 1px;
}

#pu468
{
	width: 0.01px;
	margin-left: 52px;
	margin-top: 24px;
}

#u468
{
	z-index: 20;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u510
{
	z-index: 37;
	position: relative;
	margin-right: -10000px;
	left: 195px;
}

#pu458,#pu462,#pu466
{
	width: 0.01px;
	margin-left: 188px;
	margin-top: -3px;
}

#u466
{
	z-index: 19;
	position: relative;
	margin-right: -10000px;
}

#u472-4
{
	z-index: 22;
	width: 37px;
	min-height: 11px;
	background-color: transparent;
	line-height: 8px;
	font-size: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 1px;
}

#u470
{
	z-index: 21;
	margin-left: 148px;
	margin-top: 8px;
	position: relative;
}

#pu455
{
	width: 0.01px;
	margin-left: 52px;
	margin-top: 27px;
}

#u455
{
	z-index: 12;
	width: 64px;
	border-width: 3px;
	border-style: solid;
	border-color: #AAACAD;
	background-color: transparent;
	padding-bottom: 1px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u641-6
{
	z-index: 38;
	width: 55px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 4px;
}

#u456
{
	z-index: 13;
	width: 64px;
	border-width: 3px;
	border-style: solid;
	border-color: #AAACAD;
	background-color: transparent;
	padding-bottom: 1px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 80px;
}

#u642-6
{
	z-index: 44;
	width: 57px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u457
{
	z-index: 14;
	width: 64px;
	border-width: 3px;
	border-style: solid;
	border-color: #AAACAD;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 161px;
}

#u643-6
{
	z-index: 50;
	width: 58px;
	min-height: 34px;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 4px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

